{# {% extends 'JimmyGymBundle::layout.html.twig' %}#}

{% block content_main -%}
    <h1>FitnessDetail creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fitnessdetail') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
