{% extends "JimmyGymBundle::layout.html.twig" %}

{% block content -%}
	<div class="page-header">
		<div class="wrap-title">
			<!--<div class="icon"></div>-->
			<h1>Home Page<small>Small Page Description</small></h1>
		</div>
 		<ul class="breadcrumb"></ul>
		<div class="clear"></div>
	</div>
{% endblock %}