{% extends "JimmyGymBundle::layout.html.twig" %}

{% block content -%}
	<div class="page-header">
		<div class="wrap-title">
			<!--<div class="icon"></div>-->
			<h1>New Member<small>Small Page Description</small></h1>
		</div>
		<ul class="breadcrumb"></ul>
		<div class="clear"></div>
	</div>
{% endblock %}

{% block content_main -%}
	<div class="content_main">
		<img src="/bundles/jimmygym/images/register.png"/>
	</div>
{% endblock %}